div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand href="#top"
        | Коворкинг LaunchPad
      ul.nav.pull-right
        li
          a href="https://twitter.com/launchpad"
            | Читать блог нашего филиала в Новом Орлеане

