<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#top">Коворкинг LaunchPad</a>
      <ul class="nav pull-right">
        <li><a href="http://blog.flatstack.com/">Почитать наш блог</a></li>
      </ul>
    </div>
  </div>
</div>