---
title: Готовим програмеров для компаний-партнеров в Казани!
---
<div class="container">
  <div class="hero-unit main-video">
    <div class="row">
      <div class="span5">
        <%= image_tag('logo.png', class: 'logo') %>
        <h2>Офис, который растет <br>вместе с Вами</h2>
        <p>Предлагаем Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, rem, nostrum, nisi labore sint iusto atque delectus voluptates qui culpa facere iste assumenda in possimus fugiat temporibus dicta nam quia!</p>
        <a class="btn btn-primary btn-large" data-toggle="modal" href="#wufoo-form" title="Записаться на курсы RubyOnRails">Записаться на курсы RubyOnRails</a>
      </div>
      <div class="span7">
        <iframe width="500" height="311" src="http://www.youtube.com/embed/iQXOoHQr1AY?feature=player_detailpage&amp;rel=0&amp;wmode=Opaque" frameborder="0" allowfullscreen></iframe>
        <strong>This is how we do it @Flatstack</strong>
      </div>
    </div>

    <%= partial 'partials/wufoo' %>

  </div>
  <div class="courses">
    <div class="row" id="probation">
      <div class="span12">
        <h1>Успевайте больше и любите место своей работы.</h1>
        <p><b>LaunchPad</b> – это коворкинг в самом сердце Казани, где встречаются профессионалы IT отрасли, общаются и самое главное – сосердотачиваются на работы. “Talking < Doing” одна из ключевых ценностей нашего якорного резидента и партнера FlatStack, который уже занял большую часть коворкинга! Присоединяйтесь!</p>
        <p><strong>Присоединяйтесь к нам, и вы получите:</strong></p>
        <ul>
          <li>Возможность посещения образовательных мероприятий при поддержке FlatStack, КАИ, КФУ</li>
          <li>Доступ к профессиональным переговорным зонам по записи</li>
          <li>Принтер-ксерокс</li>
          <li>Прямой конференц-телефон в US</li>
          <li>Веселые мероприятия в неспящей части города</li>
          <li>Интересных соседей по коворкингу, прошедших такой же отбор</li>
          <li>Возможность парковать свой велосипед или дойти за 120 секунд от остановки “Ленинсикй Садик” до своего нового рабочего места</li>
          <li>Рабочий стол и стул (IKEA)</li>
          <li><b>Цена 2800р</b></li>
        </ul>
        <a data-toggle="modal" href="#wufoo-form" class="btn btn-large">Записаться</a>
      </div>
    </div>
  </div>
  <br>

  <%= partial 'partials/gallery' %>

  <br>
  <div class="row">
    <div class="span11 well">
      <a data-toggle="modal" href="#wufoo-form" class="btn btn-large btn-primary pull-right">Пригласите меня!</a>
      <p><em>Приходите к нам и мы обязательно поможем вам повысить свою квалификацию, или начать карьеру в IT</em></p>
    </div>
  </div>
  <div class="row" id="reviews">
    <h1>Отзывы</h1>
    <div class="span6">
      <blockquote>
        <p>Поддерживаем начинания этих ребят на уровне кафедры КС (КГТУ им. Туполева), надеемся скоро включить курсы RubyOnRails в образовательную программу некоторых специальностей</p>
        <small>Валерий Андреевич Песошин</small>
      </blockquote>
    </div>
    <div class="span6">
      <blockquote>
        <p>Отрадно, что вы занимаетесь обучением ИТ-специалистов, многим гостям ЦИТ в КФУ приходится еще объяснять, зачем повышать квалификацию и создавать новые проекты в сфере образования</p>
        <small>Айрат Хасьянов</small>
      </blockquote>
    </div>
    <div class="span6">
      <blockquote>
        <p>Будем рады видеть у себя на кафедре этих ребят для проведения новых курсов в области RubyOnRails</p>
        <small>Леонид Михайлович Шарнин</small>
      </blockquote>
    </div>
    <div class="span6">
      <blockquote>
        <p>Пока была в командировке, прямо у нас в кабинете FlatSoft подряд 3 субботы проводил iOS-воркшопы для наших сотрудников. Ребята прокачались, офис не пострадал!</p>
        <small>Галина Мусина</small>
      </blockquote>
    </div>
  </div>
  <hr>
</div>